<section class="work-experience">

  <h3 class="title">Pontus Sidlo’s CV</h3>

  <h3>Work Experience</h3>
  <div class="not-last">
    <h4>Elvaco AB | 2019 - current</h4>
    <ul>
      <li>Q3 2021 Started on RnD part time</li>
      <li>Operator production delivery</li>
    </ul>
  </div>
  <div>
    <h4>LiftCat AB | 2018 - 2019</h4>
    <ul>
      <li>Traveling elevator technician in Sweden</li>
    </ul>
  </div>
</section>

<section class="education">
  <h3>Education</h3>
  <h4>EC Utbildning Sweden</h4>
  <p>2020-2022</p>
  <h5>Frontend Development</h5>
  <ul>
    <li>Html/CSS</li>
    <li>JavaScript</li>
    <li>Vue.js</li>
    <li>React.js</li>
    <li>Node.js</li>
    <li>Angular.js</li>
    <li>MongoDB</li>
  </ul>
</section>

<section class="personal-traits">
  <h3>Personal Traits</h3>
  <ul>
    <li>Easy to learn</li>
    <li>Responsible</li>
    <li>Pedagogical</li>
    <li>Reliable</li>
    <li>Driven</li>
  </ul>
</section>
